<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/Semantic-UI-CSS-master/semantic.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="ui grid">
    <div class="ui eight wide column">
        <img src="/images/planet.png" alt="" width="150px" height="150px">
      </div>
      <div class="right floated column">
        <div class="ui grid" >
          <div class="row">

          </div>
            <div class="row">

            </div>
            <div class="row">
              <button onclick="alert ('Vous avez cliqué sur le bouton login')" class="ui blue button">Login</button>
            </div>
            <div class="row">

            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid" id="Jouer">
    <div class="sixteen wide column" align=center>Commencez à jouer en cliquant sur le bouton</div>
    <div class="sixteen wide column" align=center>
      <button onclick="alert ('Vous avez cliqué sur le bouton jouer')" class="ui purple button">Jouer</button>
    </div>
  </div>

</body>
</html>
