<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/stylesheets/Semantic-UI-CSS-master/semantic.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body id="monde">
  <div class="ui grid">
    <div class="one column row">
      <div class="column">
        <br>
        <h1 class="ui blue header" align="center">Choix du monde</h1>
      </div>
    </div>
    <div class="six column row">
      <div class="column">

      </div>
      <div class="column">
        <br><br><br><br>
        <a href=""><img class="ui medium circular image" src="/images/math.png" alt="maths" width="100%" height="80%" align="center"></a>
        <br><h4 class="ui red header" align="center">Mathématique</h4>
      </div>
      <div class="column">

      </div>
      <div class="column">

      </div>
      <div class="column">
        <br><br><br><br>
        <a href=""><img class="ui medium circular image" src="/images/info.png" alt="info" width="100%" height="80%" align=center></a>
        <br><h4 class="ui teal header" align="center">Informatique</h4>
      </div>

    </div>
  </div>

  </body>
</html>
