<div id="backgroundMonde">

  <div class="ui grid">
    <div class="six column row">
      <div class="column">

      </div>
      <div class="column">
        <br><br><br><br><br><br><br><br><br><br>
        <a href="mondeMath"><h4 class="ui inverted blue button" align="center" id="boutonMath">Maths</h4></a>
      </div>
      <div class="column">

      </div>
      <div class="column">

      </div>
      <div class="column">
            <br><br><br><br><br><br><br><br><br><br>
        <a href="pageEnigme"> <h4 class="ui inverted orange button" align="center" id="boutonInfo">Info </h4></a>
      </div>

    </div>
  </div>
  <div class="ui vertical center aligned segment" style="padding-bottom: 20%;">
    <div class="ui text container">

  </div>
</div>
</div>
