<div class="ui secondary pointing menu">
  <a class="item active">
    Profil
  </a>
  <div class="right menu">
  </div>
</div>

<div class="ui segment">
  <p>
    <div class="ui grid">
      <div class="three wide column">
        <img class="ui small image" src="/images/gaspard.jpg">
      </div>
      <div class="eight wide column">
        <br>
        #####ici la description du personnage ? ######
        <p>Lorem ipsum tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <h3>Pseudo : ##pseudo</h3>
    <h3>Personnage : ##categorie </h3>
    <h3>Niveau maths : ##niveau math</h3>
    <h3>Niveau info : ##niveau info</h3>
    <h3>Ecole : ##nom ecole</h3>
  </p>
</div>
