

<div class="ui inverted vertical center aligned segment" style="padding-bottom: 20%;">
  <div class="ui text container" style="color:white;">
    <h1>Pour nous contacter : </h1>
    <p>zakarya.khelif@etu.univ-grenoble-alpes.fr</p> <br>
    <p>gaspard.anthoine@etu.univ-grenoble-alpes.fr</p> <br>
    <p>obride.deki@etu.univ-grenoble-alpes.fr</p> <br>
    <p>sacha.belhassen@etu.univ-grenoble-alpes.fr</p> <br>
    <p>eddy.sarrasin@etu.univ-grenoble-alpes.fr</p> <br>
    <p>mathias.rakoto-arisoa@etu.univ-grenoble-alpes.fr</p> <br>
    <p>clery.semanaz@etu.univ-grenoble-alpes.fr</p> <br>

  </div>
</div>
