

<div class="ui inverted vertical center aligned segment" style="padding-bottom: 20%;">
  <div class="ui text container" style="color:white;">
    <h1>Pour nous contacter : </h1>
    <p>zakarya.khelif@etu.univ-grenoble-alpes.fr</p>
  </div>
</div>
