<div class="ui vertical center aligned segment" style="padding-bottom: 10%;">
  <img src="https://st.depositphotos.com/1431107/1631/i/950/depositphotos_16317151-stock-photo-well-done-illustration.jpg" alt="" width="30%" height="30%">
  <h2>Bravo! vous avez réussi l'enigme</h2>

  <button class="ui primary button "type="button" name="suivant">suivant</button>
</div>
