<div id="backgroundEquipe">
  <div class="ui grid">
    <div class="sixteen wide column"><br>
      <h1 class="ui black header" align="center">Equipe</h1>
      
    </div>
  </div>

  <div class="ui grid">
    <div class="one wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image"  src="../images/gaspard.jpg">
      <h2 align="center" class="ui grey header">Gaspard</h2>
    </div>
    <div class="one wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image"  src="../images/zak.jpg">
      <h2 align="center" class="ui grey header">Zakarya</h2>

    </div>
    <div class="one wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image"  src="../images/clery.jpg">
      <h2 align="center" class="ui grey header">Clery</h2>

    </div>
    <div class="one wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image"  src="../images/mathias.png">
      <h2 align="center" class="ui grey header">Mathias</h2>

    </div>
    <div class="three wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image" src="../images/obride.jpg">
      <h2 align="center" class="ui grey header">Obride</h2>

    </div>
    <div class="one wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image" src="../images/eddy.jpg">
      <h2 align="center" class="ui grey header">Eddy</h2>

    </div>
    <div class="one wide column">

    </div>
    <div class="three wide column">
      <img class="ui medium circular image" src="../images/sacha.jpg">
      <h2 align="center" class="ui grey header">Sacha</h2>

    </div>
  </div>
  <br><br>
</div>
