<div class="ui grid" id="nav">
  <div class="one wide column">
    <img src="/images/logo.png" alt="">
  </div>
  <div class="two wide column">
    <h1 class="ui pink header">{{title}}</h1>
  </div>
  <div class="thirteen wide column">
    <button onclick="alert ('Vous avez cliqué sur le bouton login')" class="ui blue button">Login</button>
  </div>
</div>

<div class="ui sixteen column centered grid" id="Message">
  <div class="column" id="texte">Commencez à jouer en cliquant sur le bouton</div>
</div>
<div class="ui sixteen column centered grid" id="jouer">
  <button onclick="alert ('Vous avez cliqué sur le bouton jouer')" class="ui purple button">Jouer</button>
</div>