<form class="ui form">
  <h4 class="ui dividing header">inscription</h4>
  <div class="field">
    <label>Pseudo</label>
    <div class="field">
      <input name="pseudo" placeholder="Pseudo" type="text">
    </div>
  </div>
  <div class="field">
    <label>Adresse e-mail</label>
    <div class="field">
      <input type="text" name="mail" placeholder="E-mail">
    </div>
  </div>
  <div class="field">
    <label>Ville / Code Postal</label>
    <div class="fields">
      <div class="twelve wide field">
        <input name="ville" placeholder="ville" type="text">
      </div>
      <div class="four wide field">
        <input name="codePostal" placeholder="code postal" type="text">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Mot de Passe</label>
    <div class="field">
      <input type="password" name="motDePasse">
    </div>
  </div>
  <div class="field">
    <label> Confirmation Mot de Passe</label>
    <div class="field">
      <input type="password" name="motDePasseConfirmation">
    </div>
  </div>
  <div class="field">
    <label>Ecole / Classe</label>
    <div class="fields">
      <div class="twelve wide field">
        <input name="nomEcole" placeholder="Ecole" type="text">
      </div>
      <div class="four wide field">
        <input name="idClasse" placeholder="classe" type="text">
      </div>
    </div>
  </div>

  <div class="ui primary button">Valider</div>
</form>
