<script>
$(document)
  .ready(function() {
    $('.ui.form')
      .form({
        fields: {
          nomEcole: {
            identifier  : 'nomEcole',
            rules: [
              {
                type   : 'empty',
                prompt : 'Veuillez entrer le nom de votre école'
              }
            ]
          },
          idClasse: {
            identifier  : 'idClasse',
            rules: [
              {
                type   : 'empty',
                prompt : 'Veuillez entrer le nom de votre classe'
              }
            ]
          },
          ville: {
            identifier  : 'ville',
            rules: [
              {
                type   : 'empty',
                prompt : 'Veuillez entrer le nom de votre Ville'
              }
            ]
          },
          email: {
            identifier  : 'email',
            rules: [
              {
                type   : 'email',
                prompt : 'E-mail incorrect'
              }
            ]
          },
          codeP: {
            identifier  : 'codeP',
            rules: [
              {
                type  : 'integer',
                prompt: 'Code postal incorrect'
              },
              {
                type  : 'exactLength[5]',
                prompt  : 'La taille du code postal doit être de 5 caractères'
              }

            ]
          },
          pseudo: {
            identifier  : 'pseudo',
            rules: [
              {
                type   : 'maxLength[15]',
                prompt : 'Le pseudo doit comporter moins de 15 caratères'
              },
              {
                type   : 'minLength[5]',
                prompt : 'Le pseudo doit comporter au moins 5 caratères'
              }
            ]
          },
          passwordConf: {
            identifier  : 'passwordConf',
            rules: [
              {
                type   : 'empty',
                prompt : 'Veuillez remplir le champ confirmation de mot de passe'
              }
            ]
          },
          password: {
            identifier  : 'password',
            rules: [
              {
                type   : 'length[6]',
                prompt : 'Votre mot de passe doit comporter au moins 6 caractères'
              },
              {
                type   : 'match[passwordConf]',
                prompt : 'Les deux mots de passe sont différents'
              }

            ]
          }
        }
      })
    ;
  })
;
</script>

<div class="main container">
  <form class="ui form" action="/inscription" method="post" >
    <h3 class="ui dividing header">Inscription</h3>
    <div class="field">
      <label>Pseudo</label>
      <div class="field">
        <input name="pseudo" placeholder="Pseudo" type="text">
      </div>
    </div>
    <div class="field">
      <label>Adresse e-mail</label>
      <div class="field">
        <input type="text" name="email" placeholder="E-mail">
      </div>
    </div>
    <div class="field">
      <label>Ville / Code Postal</label>
      <div class="fields">
        <div class="twelve wide field">
          <input name="ville" placeholder="Ville" type="text">
        </div>
        <div class="four wide field">
          <input name="codeP" placeholder="Code Postal" type="text">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Mot de Passe</label>
      <div class="field">
        <input type="password" name="password">
      </div>
    </div>
    <div class="field">
      <label> Confirmation Mot de Passe</label>
      <div class="field">
        <input type="password" name="passwordConf">
      </div>
    </div>
    <div class="field">
      <label>Ecole / Classe</label>
      <div class="fields">
        <div class="twelve wide field">
          <input name="nomEcole" placeholder="Ecole" type="text">
        </div>
        <div class="four wide field">
          <input name="idClasse" placeholder="Classe" type="text">
        </div>
      </div>
    </div>
<div class="ui error message"></div>
    <button class="ui primary button" type="submit" >Valider</button>
  </form>
</div>
