<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="/semantic/semantic.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
