<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="/semantic/semantic.js"></script>
</head>

<body>
  {{#if pseudo}}
  <div class="ui secondary  menu">
  <a class="item">
    <img class="ui tiny circular image" src="/images/squirrel-monkey-monkey-climb-feeding-47074.jpeg">
  </a>
  <a class="item">
    {{pseudo}}
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item" href="/logout">
      Se Déconecter
    </a>
  </div>
</div>
{{/if}}
  {{{body}}}

<footer>
  <div class="ui inverted vertical footer center aligned segment">
    <div class="ui container">
      <div class="ui inverted section divider"></div>
      <a href="/">
        <img src="/images/logoBlanc.png" class="ui centered tiny image">
      </a>
      <h4>
        <a href="equipe">Notre Equipe</a>
      </h4>
      <h4>
        <a href="contact">Nous contacter</a>
      </h4>
    </div>
</footer>
</body>

</html>
