<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="/semantic/semantic.js"></script>
</head>

<body>
  {{{body}}}

</body>

<footer>
  <div class="ui inverted vertical footer center aligned segment">
    <div class="ui container">
      <div class="ui inverted section divider"></div>
      <a href="/"><img src="/images/logoBlanc.png" class="ui centered tiny image"></a>
        <h4><a href="#">Team</a></h4>
        <h4><a href="#">Contact Us</a></h4>
    </div>
    </footer>

</html>
