<style type="text/css" media="screen">
.vignette {
	position : relative ;
}

.bouton1 {
    position : absolute;
	bottom: 210px;
	right: 120px;
  color: red;
  font-size: 1.5em;
}
.bouton2 {
    position : absolute;
	bottom: 373px;
	right: 140px;
  color: cadetblue;
  font-size: 1.5em;
}
.bouton3 {
    position : absolute;
	bottom: 185px;
	right: 675px;
  color: red;
  font-size: 1.5em;
}
.bouton4 {
    position : absolute;
	bottom: 93px;
	right: 885px;
  color: red;
  font-size: 1.5em;
}
.bouton5 {
    position : absolute;
	bottom: 433px;
	right: 470px;
  color: red;
  font-size: 1.5em;
}
.bouton6 {
    position : absolute;
	bottom: 338px;
	right: 290px;
  color: cadetblue;
  font-size: 1.5em;
}
.bouton7 {
    position : absolute;
	bottom: 168px;
	right: 495px;
  color: red;
  font-size: 1.5em;
}
@media only screen and (max-width: 940px) {
	#map{
	 width: 600px;
	}
	.bouton1 {
	    position : absolute;
		bottom: 113px;
		right: 418px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton2 {
	    position : absolute;
			bottom: 56px;
			right: 550px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton3 {
	    position : absolute;
			bottom: 103px;
			right: 306px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton4 {
	    position : absolute;
			bottom: 269px;
			right: 291px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton5 {
	    position : absolute;
			bottom: 213px;
			right: 170px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton6 {
	    position : absolute;
			bottom: 223px;
			right: 88px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton7 {
	    position : absolute;
		bottom: 130px;
		right: 71px;
	  color: red;
	  font-size: 1.5em;
	}
@media only screen and (max-width: 600px) {
	#map{
	 width: 350px;
	 height: 250px;
	}
	.bouton1 {
	    position : absolute;
		bottom: 83px;
		right: 240px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton2 {
	    position : absolute;
			bottom: 43px;
			right: 317px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton3 {
	    position : absolute;
			bottom: 73px;
			right: 170px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton4 {
	    position : absolute;
			bottom: 196px;
			right: 164px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton5 {
	    position : absolute;
			bottom: 155px;
			right: 100px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton6 {
	    position : absolute;
			bottom: 168px;
			right: 50px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton7 {
	    position : absolute;
		bottom: 95px;
		right: 37px;
	  color: red;
	  font-size: 1.5em;
	}
}
}

</style>
<div class="ui inverted vertical center aligned segment" style="padding-top : 60px;">
<form action="index.php" method="post">
	<p align="center">
		<span class="vignette">
			<img src="images/mondeMath.png" alt="image 1" id="map"/>

			<a href="pageEnigme" class="bouton1" type="image" title="Go" alt="Go"  /><img src="images/boutonR.png" alt=""></a>
			<a href="niveauProba" class="bouton2" type="image" title="Probabilité" alt="Go" /><img src="images/boutonR.png" alt=""></a>
			<a href="pageEnigme" class="bouton3" type="image" title="Go" alt="Go" /><img src="images/boutonR.png" alt=""></a>
			<a href="pageEnigme" class="bouton4" type="image" title="Go" alt="Go" /><img src="images/boutonR.png" alt=""></a>
			<a href="pageEnigme" class="bouton5" type="image" title="Go" alt="Go" /><img src="images/boutonR.png" alt=""></a>
			<a href="pythagore" class="bouton6" type="image" title="pythagore" alt="Go" /><img src="images/boutonR.png" alt=""></a>

		</span>
	</p>
</form>
</div>
