<style type="text/css" media="screen">
.vignette {
	position : relative ;
}

.bouton1 {
    position : absolute;
	bottom: 300px;
	right: 110px;
  color: red;
  font-size: 1.5em;
}
.bouton2 {
    position : absolute;
	bottom: 400px;
	right: 200px;
  color: red;
  font-size: 1.5em;
}
.bouton3 {
    position : absolute;
	bottom: 150px;
	right: 250px;
  color: red;
  font-size: 1.5em;
}
.bouton4 {
    position : absolute;
	bottom: 100px;
	right: 300px;
  color: red;
  font-size: 1.5em;
}
.bouton5 {
    position : absolute;
	bottom: 350px;
	right: 400px;
  color: red;
  font-size: 1.5em;
}


</style>
<form action="index.php" method="post">
	<p>
		<span class="vignette">
			<img src="http://www.cartesfrance.fr/cartes/carte-de-france.gif" alt="image 1" />
			<input class="bouton1" type="image" src="bouton.gif" title="Go" alt="Go" />
      <input class="bouton2" type="image" src="bouton.gif" title="Go" alt="Go" />
      <input class="bouton3" type="image" src="bouton.gif" title="Go" alt="Go" />
      <input class="bouton4" type="image" src="bouton.gif" title="Go" alt="Go" />
      <input class="bouton5" type="image" src="bouton.gif" title="Go" alt="Go" />

    </span>
	</p>
	<p>
		<span class="vignette">
			<img src="image2.jpg" alt="image 2" />
		</span>
	</p>
</form>
