<style type="text/css" media="screen">
.vignette {
	position : relative ;
}

.bouton1 {
    position : absolute;
	bottom: 415px;
	right: 1080px;
  color: cadetblue;
  font-size: 1.5em;
}
.bouton2 {
    position : absolute;
	bottom: 10px;
	right: 950px;
  color: red;
  font-size: 1.5em;
}
.bouton3 {
    position : absolute;
	bottom: 290px;
	right: 637px;
  color: red;
  font-size: 1.5em;
}
.bouton4 {
    position : absolute;
	bottom: 325px;
	right: 850px;
  color: red;
  font-size: 1.5em;
}
.bouton5 {
    position : absolute;
	bottom: 437px;
	right: 334px;
  color: red;
  font-size: 1.5em;
}
.bouton6 {
    position : absolute;
	bottom: 150px;
	right: 236px;
  color: red;
  font-size: 1.5em;
}
.bouton7 {
    position : absolute;
	bottom: 120px;
	right: 460px;
  color: red;
  font-size: 1.5em;

}
@media only screen and (max-width: 1200px) {
	#map{
	 width: 600px;
	}
	.bouton1 {
	    position : absolute;
		bottom: 203px;
		right: 540px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton2 {
	    position : absolute;
			bottom: 5px;
			right: 470px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton3 {
	    position : absolute;
			bottom: 145px;
			right: 317px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton4 {
	    position : absolute;
			bottom: 155px;
			right: 422px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton5 {
	    position : absolute;
			bottom: 213px;
			right: 164px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton6 {
	    position : absolute;
			bottom: 73px;
			right: 116px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton7 {
	    position : absolute;
		bottom: 55px;
		right: 230px;
	  color: red;
	  font-size: 1.5em;
	}
@media only screen and (max-width: 600px) {
	#map{
	 width: 350px;
	 height: 250px;
	}
	.bouton1 {
	    position : absolute;
		bottom: 210px;
		right: 314px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton2 {
	    position : absolute;
			bottom: 3px;
			right: 270px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton3 {
	    position : absolute;
			bottom: 160px;
			right: 183px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton4 {
	    position : absolute;
			bottom: 168px;
			right: 245px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton5 {
	    position : absolute;
			bottom: 213px;
			right: 93px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton6 {
	    position : absolute;
			bottom: 74px;
			right: 62px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton7 {
	    position : absolute;
		bottom: 58px;
		right: 130px;
	  color: red;
	  font-size: 1.5em;
	}
}
}

</style>
<div class="ui inverted vertical center aligned segment" style="padding-top : 60px;">

<form action="index.php" method="post">
	<p align="center">
		<span class="vignette">
			<img src="images/ville.jpg" alt="image 1" id="map"/>
			<a href="/pageEnigme/pythagore/1" class="bouton1" title="1" alt="1" />1</a>
			<a href="/pageEnigme/pythagore/2" class="bouton2" title="2" alt="2" />2</a>
			<a href="/pageEnigme/pythagore/3" class="bouton3" title="3" alt="3" />3</a>
			<a href="/pageEnigme/pythagore/4" class="bouton4" title="4" alt="4" />4</a>
			<a href="/pageEnigme/pythagore/5" class="bouton5" title="5" alt="5" />5</a>
			<a href="/pageEnigme/pythagore/6" class="bouton6" title="6" alt="6" />6</a>
			<a href="/pageEnigme/pythagore/7" class="bouton7" title="7" alt="7" />7</a>
    </span>
	</p>
</form>
</div>
