<style type="text/css" media="screen">
.vignette {
	position : relative ;
}

.bouton1 {
    position : absolute;
	bottom: 221px;
	right: 1120px;
  color: red;
  font-size: 1.5em;
}
.bouton2 {
    position : absolute;
	bottom: 600px;
	right: 950px;
  color: red;
  font-size: 1.5em;
}
.bouton3 {
    position : absolute;
	bottom: 280px;
	right: 637px;
  color: red;
  font-size: 1.5em;
}
.bouton4 {
    position : absolute;
	bottom: 300px;
	right: 863px;
  color: red;
  font-size: 1.5em;
}
.bouton5 {
    position : absolute;
	bottom: 437px;
	right: 417px;
  color: red;
  font-size: 1.5em;
}
.bouton6 {
    position : absolute;
	bottom: 220px;
	right: 230px;
  color: red;
  font-size: 1.5em;
}
.bouton7 {
    position : absolute;
	bottom: 120px;
	right: 495px;
  color: red;
  font-size: 1.5em;
}
@media only screen and (max-width: 1200px) {
	#map{
	 width: 600px;
	}
	.bouton1 {
	    position : absolute;
		bottom: 107px;
		right: 561px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton2 {
	    position : absolute;
			bottom: 300px;
			right: 470px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton3 {
	    position : absolute;
			bottom: 135px;
			right: 317px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton4 {
	    position : absolute;
			bottom: 143px;
			right: 429px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton5 {
	    position : absolute;
			bottom: 213px;
			right: 207px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton6 {
	    position : absolute;
			bottom: 110px;
			right: 113px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton7 {
	    position : absolute;
		bottom: 45px;
		right: 270px;
	  color: red;
	  font-size: 1.5em;
	}
@media only screen and (max-width: 600px) {
	#map{
	 width: 350px;
	 height: 250px;
	}
	.bouton1 {
	    position : absolute;
		bottom: 77px;
		right: 326px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton2 {
	    position : absolute;
			bottom: 220px;
			right: 270px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton3 {
	    position : absolute;
			bottom: 100px;
			right: 185px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton4 {
	    position : absolute;
			bottom: 105px;
			right: 250px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton5 {
	    position : absolute;
			bottom: 160px;
			right: 120px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton6 {
	    position : absolute;
			bottom: 80px;
			right: 57px;
	  color: red;
	  font-size: 1.5em;
	}
	.bouton7 {
	    position : absolute;
		bottom: 40px;
		right: 140px;
	  color: red;
	  font-size: 1.5em;
	}
}
}

</style>
<form action="index.php" method="post">
	<p align="center">
		<span class="vignette">
			<img src="images/hospital.jpg" alt="image 1" id="map"/>
			<a href="pageEnigme" class="bouton1" title="1" alt="1" />1</a>
			<a href="pageEnigme" class="bouton2" title="2" alt="2" />2</a>
			<a href="pageEnigme" class="bouton3" title="3" alt="3" />3</a>
			<a href="pageEnigme" class="bouton4" title="4" alt="4" />4</a>
			<a href="pageEnigme" class="bouton5" title="5" alt="5" />5</a>
			<a href="pageEnigme" class="bouton6" title="6" alt="6" />6</a>
			<a href="pageEnigme" class="bouton7" title="7" alt="7" />7</a>
    </span>
	</p>
</form>
