<div class="">
  <button class="ui button "type="Temps" name="temps"> 0.0.0</button>
</div>
<div class="ui grid">
  <div class="ui two row column">

    <div class="sixteen wide column">
      <h2 class ="ui h2">un exemple d'énigme</h2>
      <p>{{enonce}}</p>
    </div>
    <br>

    <div class="ui segment" align="right">

      <div>
        <h3 align="center">reponse</h3>
      </div>

      <div>
        <textarea name="reponse" rows="8" cols="50"></textarea>
      </div>

      <div>
        <button class="ui button primary" type="button" name="effacer"> effacer</button>
        <button class="ui button primary" type="button" name="envoyer"> envoyer</button>
      </div>

    </div>
  </div>


</div>
<a href=""><img src="https://www.escautpont.fr/fichs/15521.jpg" alt="" width="100px" align="right"></a>

</body>
