<script>
  $(document).ready(function () {
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
  });
</script>

<div class="main container">
  <div class="">
    {{#if reponseFausse}}
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        Mauvaise réponse
      </div>
    </div>
    {{/if}}
  </div>
<p>{{{enigme}}}</p>

</div>
