    <div class="ui two row column">

      <div class="sixteen wide column" id="TitreE">
        <h2 class="ui h2">Probabilité</h2>
        <p>Une porte se présente à vous, pour la franchit il
              vous faut une clé bleu. Un second verrou bloque la
               porte, pour l''ouvrir il vous faut une clé verte.
               Dans une urne il y a 3 clés bleues(B), 3 clés vertes(V),
                et 3 clés marrons(M), indiscernables au toucher. On tire
                 successivement et sans remise deux boules. <br>
                 Quelle est la probabilité de tirer une première
                 clé bleu et une seconde clé verte ?(un arbre de
                 probabilités pourrait vous aider)</p>
      </div>
      <br>

      <div class="sixteen wide column">
        <img class="ui medium centered image" src="/images/busteScientist.png" alt="">
      </div>
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="ui segment" align="right" style=" text-align = center;">
            <div id="reponse">
              <h3 align="center">reponse</h3>
            </div>
            <br>
            <form action="/pageEnigme" method="post">
              <div class="ui center align page grid input focus">
                <input type="text" name="reponse" style="text-align : center;">
              </div>
              <br>
              <div style="text-align : center;">
                <button class="ui button primary" type="button" name="effacer"> effacer</button>
                <button class="ui button primary" type="submit" name="idEnigme" value={{id}}> envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
