<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body id="backgroundPerso">
    <div class="ui grid">
      <div class="two column row">
        <div class="column" id="Description">
          <br>
          <h1 class="ui red header">InfoBot</h1>
          <br>
          <div class="ui grid">
            <div class="five column row">
              <div class="column"> 

              </div>
              <div class="column">

              </div>
              <div class="column">
                <img src="../images/avatarInfobot.png" alt="">
              </div>
              <div class="column">

              </div>
              <div class="column">

              </div>
            </div>

          </div>
          <h4 class="ui grey inverted header"> Expert informatique</h4>
          <p>Description : <br> InfoBot a été créé par Docteur Bronx, il fut le premier robot capable de pouvoir programmer ses propres code informatique <br>
           Il s'améliore de jour en jour dans la programmation et réalise même des programmes pour se perfectionner lui même.
           <br> Il pourra peut-être vous aider en informatique. </p>
        </div>
        <div class="column">
          <img src="../images/Infobot.png" alt="">
        </div>
      </div>
      <div class="two column row">
        <div class="column">

        </div>
        <div class="column" id="bouton">
          <form action="/choixPerso/Infobot" method="post">
               <button class="ui inverted button">Valider</button>
             </form>
        </div>
      </div>
    </div>
  </body>
</html>
