<div id="backgroundInfoBot">
    <div class="ui grid">
      <div class="two column row">
        <div class="column" id="Description">
          <br>
          <h1 class="ui inverted header">InfoBot</h1>
          <br>
          <div class="ui grid">
            <div class="five column row">
              <div class="column">

              </div>
              <div class="column">

              </div>
              <div class="column">
                <img src="../images/avatarInfobot.png" alt="">
              </div>
              <div class="column">

              </div>
              <div class="column">

              </div>
            </div>

          </div>
          <h4 class="ui grey inverted header"></h4>
          <p style="color : white;">Description : <br> InfoBot a été créé par Docteur Bronx, il fut le premier robot capable de pouvoir programmer ses propres code informatique <br>
           Il s'améliore de jour en jour dans la programmation et réalise même des programmes pour se perfectionner lui même.
           <br> Il pourra peut-être vous aider en informatique.  </p>
           <br>
         <footer>
           <div class="column" id="boutonPerso2">
             <form action="/choixPerso/Timix" method="post">
               <button class="ui inverted button">Valider</button>
             </form>

           </div>
         </footer>
        </div>
        <div class="column">
          <img src="../images/Infobot.png" alt="">
        </div>
      </div>
      <div class="two column row">
        <div class="column">

        </div>
      </div>
    </div>
</div>
