<div class="ui vertical center aligned segment">
      <img class="ui centered small image" src="/images/avatar{{joueur._personnage}}.png" >
      <div class="ui text container">
        <h1>{{joueur._pseudo}}</h1>
      </div>
    </div>

<div class="ui segment">
  <p>
    <div class="ui grid">
      <div class="eight wide column">
        <br>
        #####ici la description du personnage ? ######
        <p>Lorem ipsum tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <h3>Personnage : </h3> <img src="/images/{{joueur._personnage}}.png" alt="image du personnage">
    <h3> Experience en maths : {{xpMath}}</h3>
    <h3>Niveau info : ##niveau info</h3>
    <h3>Ecole : ##nom ecole</h3>
  </p>
</div>
