body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.main.container {
  padding: 50px;
}

h4>a {
  color: #ffffff;
}

#editor {
  position: relative;
  height: 300px;

}

.blanc {
  color: white;
}

#homeBackgroudImage {
  background-image: url(../images/andre-benz-256762.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#Jouer{
  margin-top : 10%;
}
#monde{
  background-image: url("../images/fond 2.jp");
  background-size: 100% 100%;
  text-align: center;
}
#backgroundEnigme{
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
}
#TitreE{
  color : white;
}
#reponse{
  color : black;
}
#backgroundPerso{
  background-image: url("../images/background perso1.jpg");
}
#Description{
  text-align: center;
  background-color: rgba(255,255,255,0.10);
}
#bouton{
  text-align: center;
}
.selectionPerso>p{
  color : white;
  font-size: 18px;
}
#BackgroundR{
  background-image: url("../images/backgroundReussiMaths.jpg");
}
#info{
  text-align: center;
}

#score{
  text-align: center;
}
#boutonPerso2{
  text-align: center;
}
#backgroundPerso2{
  background-image: url("../images/backgroundperso.jpg");
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none !important;
  }
  .secondary.pointing.menu .toc.item {
    display: block !important;
    margin-right: 17%;
  }
}
#backgroundMonde{
  background-image: url(../images/backgroundchoixMonde.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 75%;

}
#backgroundEquipe{
}
#backgroundInfoBot{
  background-image: url("../images/background perso1.jpg")
}
